.orbit {
    color: #ffffff;
}

.planet-info {
    position: fixed;
}

.planet-info-name {
    font-size: 2.5vw;
    transform: translate(0.5vw, -3vw);
}

.planet-info-copy {
    width: 20vw;
    font-size: 1.5vw;
    transform: translate(0.5vw, 0.5vw);
}

.planet-info-head-r {
    font-size: 1.25vw;
    transform: translate(-100%, -1.75vw);
    white-space: nowrap;
}

.planet-info-body-r {
    font-size: 1vw;
    transform: translate(-100%, 0.5vw);
    white-space: nowrap;
}

.planet-info-head-l {
    font-size: 1.25vw;
    transform: translate(0.5vw, -1.75vw);
    white-space: nowrap;
}

.planet-info-body-l {
    font-size: 1vw;
    transform: translate(0.5vw, 0.5vw);
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .planet-info-name {
        font-size: 10vw;
        transform: translate(0.5vw, -12vw);
    }

    .planet-info-copy {
        width: 60vw;
        font-size: 4vw;
        transform: translate(0.5vw, 2vw);
    }

    .planet-info-head-r {
        font-size: 5vw;
        transform: translate(-100%, -6vw);
        white-space: nowrap;
    }

    .planet-info-body-r {
        font-size: 3vw;
        transform: translate(-100%, 1vw);
        white-space: nowrap;
    }

    .planet-info-head-l {
        font-size: 5vw;
        transform: translate(0.5vw, -6vw);
        white-space: nowrap;
    }

    .planet-info-body-l {
        font-size: 3vw;
        transform: translate(0.5vw, 1vw);
        white-space: nowrap;
    }
}